<div>
  <h1>Products</h1>
  {{#each products}}
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Code: {{this.code}}</p>
    <p>Price: ${{this.price}}</p>
    <p>Status: {{this.status}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Category: {{this.category}}</p>
    <button id="addButton" onclick="addToCart(event)">Agregar al carrito</button>
    <br><br>
  {{/each}}
</div>
<script src="products.js"></script>